:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(203, 203, 203);
    img{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 30vw;
       margin: 0 auto;
       padding-left: 14vw;
    }
}
body{
    p{
        text-align: center;
        padding-left: 17vw;
    }
}


div {
    display: flex;
    flex-direction: column;
}

header{
h1{
    color: #a95f23;
    text-align: center;
    font-size: 8vw;
    margin: 0;
    padding: 0;
}
}

ul{
    li{
        
        list-style-type: none;
    }
}

section{
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
    padding-top: 11vh;
    padding-left: 4vh;}

button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    width: 19vw;
    margin-bottom: 1vh;
    margin-top: 8vw;
}

section{
    display: flex;
    flex-direction: row;
}